!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body

  script(src='http://knockoutjs.com/downloads/knockout-2.2.0.debug.js')
  script(src='/socket.io/socket.io.js')
  script(src='/scripts/app.js')
